<div class="row">
    <div class="col-md-2 text-right">
        <app-back-btn></app-back-btn>
    </div>
    <div class="col-md-8">
        <mat-card>
            <form [formGroup]="postForm" (ngSubmit)="onPostFormSubmit()">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>User Id</mat-label>
                    <mat-select matInput formControlName="userId">
                        <mat-option [value]="id" *ngFor="let id of userIdArr">{{id}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Content</mat-label>
                    <textarea matInput formControlName="content"> </textarea>
                </mat-form-field>

                
                <input type="file" hidden
                #imageUpload
                (change)="onPhotoUpload($event)">
                
                <div class="d-flex align-items-center">
                    <mat-icon class="text-primary" 
                    (click)="imageUpload.click()">insert_drive_file</mat-icon>
                    <span (click)="imageUpload.click()" class="text-primary pt-1">Upload Image</span>
                    <img class="ml-3" [src]="base64Img" alt="" width="50px">
                </div>
                

                <div class="text-right">
                    <button mat-raised-button color="primary" *ngIf="!isInEditMode">Add Post</button>
                    <button mat-raised-button color="primary" type="button" *ngIf="isInEditMode"
                    (click)="onUpdate()"
                    >Update Post</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>